body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1341px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4218 {
  position:fixed;
  left:50%;
  margin-left:-670.5px;
  top:0px;
}
#u4218_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4218_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
  display:flex;
}
#u4219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:531px;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:1341px;
  height:531px;
  display:flex;
}
#u4220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
