body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-8px;
  width:1324px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16650 {
  position:fixed;
  left:50%;
  margin-left:-670.5px;
  top:0px;
}
#u16650_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16650_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
}
#u16651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
  display:flex;
}
#u16651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:947px;
}
#u16652 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:63px;
  width:1322px;
  height:947px;
  display:flex;
}
#u16652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:335px;
}
#u16653 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1391px;
  width:1324px;
  height:335px;
  display:flex;
}
#u16653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1243px;
  height:382px;
}
#u16654 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:1025px;
  width:1243px;
  height:382px;
  display:flex;
}
#u16654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
