body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:1266px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AA0A0A;
}
#u29139 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:28px;
  width:618px;
  height:37px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AA0A0A;
}
#u29139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u29140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:518px;
}
#u29140 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:84px;
  width:1266px;
  height:518px;
  display:flex;
}
#u29140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
