body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1273px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:598px;
}
#u20441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:598px;
  display:flex;
}
#u20441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:513px;
}
#u20442 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:598px;
  width:1170px;
  height:513px;
  display:flex;
}
#u20442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:509px;
}
#u20443 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1121px;
  width:1170px;
  height:509px;
  display:flex;
}
#u20443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
