body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1273px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:598px;
}
#u14836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:598px;
  display:flex;
}
#u14836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:513px;
}
#u14837 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:598px;
  width:1170px;
  height:513px;
  display:flex;
}
#u14837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:509px;
}
#u14838 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1121px;
  width:1170px;
  height:509px;
  display:flex;
}
#u14838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
