body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-321px;
  width:699px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14399 {
  position:fixed;
  left:50%;
  margin-left:-670.5px;
  top:0px;
}
#u14399_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14399_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
}
#u14400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:63px;
  display:flex;
}
#u14400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:1.4px;
  color:#545454;
  text-align:center;
  line-height:26px;
}
#u14401 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:158px;
  width:699px;
  height:52px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:1.4px;
  color:#545454;
  text-align:center;
  line-height:26px;
}
#u14401 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
